<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="contactar/" method="post">{% csrf_token %}>
        <p>Asunto <input type="text" name="txtAsunto"></p>
        <p>Email <input type="text" name="txtEmail"></p>
        <p>Mensaje 
            <textarea name="txtMensaje" id="" cols="30" rows="10"></textarea>
        </p>
        <input type="submit" value="Enviar">




    </form>
</body>

</html>